GROQ_API_KEY=your-groq-api-key
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=your-langsmith-api-key
LANGSMITH_PROJECT=darius-foroux-rag
LANGSMITH_ENDPOINT=https://{your_region}.api.smith.langchain.com
LANGSMITH_WORKSPACE_ID=your-langsmith-workspace-id